
.create_content{
    width: 70%;
    height: auto;
    margin: 10px auto;
    display: flex;
        .create_edtior{
            width: 73%;
            .create_edtior_header{
                padding: 10px;
                background: #f6f6f6;
                border-radius: 4px;
                > ul > li {
                    list-style: none;
                    display: inline;
                    margin-left: 5px;
                    color: #999;
                    > a {
                        color: #80bd01;
                        font-size: 14px;
                    }
                    > em {
                        color: #999;
                    }
                }
            }
            .create_quill{
                background: #FFF;
                border-radius: 4px;
                .topic_select{
                    padding: 20px;
                    > select {
                        width: 220px;
                        text-align: center;
                        background: #FFF;
                        border-radius: 4px;
                        height: 30px;
                    }
                }
                .create_topic{
                    padding: 0px 20px 10px 20px;
                    .topic_title{
                        width: 100%;
                        height: 30px;
                        margin-bottom: 20px;
                        > input {
                            width: 100%;
                            height: 30px;
                            border-radius: 4px;
                        }
                    }
                }
            }
        }

    .create_prompt{
        flex: 1;
        background: #fff;
        margin-left: 15px;
        border-radius: 4px;
    }
    .submit{
        flex:1;
        padding:0px 20px 10px 20px;
        > button{
            width: 60px;
            height: 30px;
            text-align: center;
            background: #08c;
            color: #FFF;
            font-weight: bold;
        }
    }
}
