@import "../../assets/scss/_variable.scss";
.header {
    z-index: 6;
    position: relative;
    padding: 10px 10px 15px 0;
    background: #444;

    .header-box {
        width: $width;
        margin: 0 auto;
        overflow: hidden;
    }

    .logo {
        float: left;

        img {
            width: 35px;
            pointer-events: none;
        }
    }

    .nav {
        margin-top: 8px;
        float: right;

        a {
            position: relative;
            color: #ccc;
            margin-left: 20px;

            &:hover {
                color: #fff;
            }
        }

        .unread-msg {

            &:after {
                content: '';
                position: absolute;
                top: -3px;
                right: -9px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #f50;
            }
        }
    }
}