@import "../../assets/scss/_variable.scss";
.sidebar {
    width: $sidebarWidth;
    float: right;

    .personal-information {
        background: #fff;
        border-radius: 5px;

        .top {
            padding: 10px;
            background: $boxTopColor;
        }

        .info {
            padding: 10px;

            img {
                display: inline-block;
                width: 50px;
                height: 50px;
                background: #f7f7f7;
                object-fit: cover;
            }

            .nickname {
                margin-left: 15px;
                color: #333;
                cursor: pointer;
            }
        }

        .publish-topic {
            padding: 0 0 10px 10px;

            a {
                display: inline-block;
                position: relative;
                margin: 5px 0 0 0;
                padding: 5px 10px;
                background: #80bd01;
                color: #fff;
                border-radius: 5px;
                font-weight: 500;
                border: 1px solid #80bd01;

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: #000;
                    border-radius: 5px;
                    opacity: 0;
                    transition: opacity .1s linear;
                }

                &:hover:after {
                    opacity: .05;
                }
            }
        }

        .tourist-box {
            padding: 10px;
        }

        .cnode {
            color: #000;
        }

        .tourist {
            margin-top: 15px;

            a {
                color: #2d8cf0;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    // 收款
    .pay {
        margin-top: 15px;
        padding: 10px;
        border-radius: 5px;
        background: #fff;

        img {
            width: 250px;
            height: 250px;
            object-fit: cover;
        }
    }

    .scann-qrcode {
        margin-top: 15px;
        padding: 10px;
        background: #fff;
        border-radius: 5px;
        text-align: center;

        .scann-qrcode-title {
            padding: 10px;
            margin-bottom: 10px;
            background: $boxTopColor;
        }

        img {
            width: 250px;
            height: 250px;
            pointer-events: none;
        }
    }
}








