@import "../../assets/scss/_variable.scss";
.topic {

    .detail {
        position: relative;
        min-height: 300px;
        background: #fff;

        .loading {
            z-index: 666;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding-top: 100px;
            background: #fff;
            text-align: center;
        }

        .topic-top {
            padding: 15px 10px;
            border-bottom: 1px solid #eee;
        }

        .topic-title {
            overflow: hidden;

            .tag {
                float: left;
                margin-top: 3px;
                font-size: 12px;
                background: #80bd01;
                color: #fff;
                padding: 2px 4px;
                border-radius: 3px;
                font-weight: bold;
                white-space: nowrap;
            }

            h1 {
                float: left;
                width: calc(100% - 50px);
                margin: -4px 5px 0 10px;
                font-weight: bold;
                color: #000;
                font-size: 22px;
            }
        }

        .topic-bottom {
            margin-top: 10px;

            span,
            a {
                font-size: 12px;
            }

            a {
                color: #333;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .collection {
            text-align: right;

            button {
                position: relative;
                padding: 5px 10px;
                background: #80bd01;
                color: #fff;
                border: none;
                font-weight: 500;
                border-radius: 3px;

                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: 3px;
                    background: #000;
                    opacity: 0;
                }

                &:active:after {
                    opacity: .2;
                }
            }
        }

        .operation-edit {

            i {
                cursor: pointer;
                font-size: 22px;
            }
        }
    }

    .content {
        padding: 10px 20px;
    }

    .reply {
        margin-top: 15px;
        border-radius: 3px;

        li {
            padding: 10px 10px 30px 10px;
            overflow: hidden;
            background: #fff;
        }

        .reply-count {
            padding: 10px;
            background: #f6f6f6;
        }

        .avatar {
            float: left;

            img {
                width: 30px;
                height: 30px;
                background: #f7f7f7;
                object-fit: cover;
                border-radius: 3px;
            }
        }

        .reply-author {
            float: left;

            a {
                font-size: 12px;
                color: #000;
            }

            span {
                margin-left: 5px;
                font-size: 12px;
                color: #08c;
            }

            strong {
                margin-left: 5px;
                font-size: 12px;
                background: #80bd01;
                color: #fff;
                padding: 1px;
                border-radius: 1px;
                font-weight: bold;
            }
        }

        .reply-right {
            float: left;
            width: calc(100% - 40px);
            overflow: hidden;
            margin: 0 0 0 10px;
        }

        .operation {
            float: right;

            i {
                cursor: pointer;
            }

            em {
                margin-left: 3px;
            }

            > div {
                float: left;
                margin-left: 7px;
            }
        }

        .reply-content {
            clear: left;
            padding-left: 40px;
        }
    }

    // 新建评论
    .insert-reply {
        margin-top: 15px;
        background: #fff;

        .tip {
            padding: 10px;
            background: #f6f6f6;
        }

        .reply-btn {
            padding: 0 0 10px 10px;

            button {
                position: relative;
                color: #fff;
                background: #08c;
                border-radius: 3px;
                padding: 5px 10px;
                font-weight: 500;
                border: none;

                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: 3px;
                    background: #000;
                    opacity: 0;
                }

                &:active:after {
                    opacity: .1;
                }
            }
        }
    }
}



